<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Cliente</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="main col-sm-9 col-md-10">
				<div th:include="MensagemGeral"></div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/clientes}">Clientes</a></li>
						<li class="breadcrumb-item active" aria-current="page">Novo</li>
					</ol>
				</nav>

				<form method="POST" th:action="@{/clientes/salvar}" th:object="${cliente}">
					<div class="form-group">
						<input th:field="*{codigo}" type="hidden" />
						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="idNome">Nome:</label> <input type="text"
									class="form-control" placeholder="Nome" th:field="*{nome}" id="idNome" required>
							</div>
							<div class="form-group col-md-6">
								<label for="idCnpj">CNPJ:</label> <input type="text"
									class="form-control" placeholder="Cnpj" th:field="*{cnpj}" id="idCnpj" required>
							</div>
							<div class="form-group col-md-3">
								<label for="idTelefone">Telefone:</label> <input type="text"
									class="form-control" placeholder="Telefone" id="idTelefone" required>
							</div>
							<div class="form-group col-md-5">
								<label for="idEmail">Email:</label> <input type="text"
									class="form-control" placeholder="Email" id="idEmail" required>
							</div>
							<div class="form-group col-md-4">
								<label>Cidade:</label> <select class="form-control"
									th:field="*{cidade.codigo}">
									<option th:each="cidade : ${listaCidade}" th:text="${cidade.nome} + ' ' + ${cidade.uf.sigla}"
										th:value="${cidade.codigo}"></option>
								</select>
							</div>
							<div class="form-group col-md-12">
								<label for="idEndereco">Endereço:</label> <input type="text"
									class="form-control" placeholder="Endereço" id="idEndereco" th:field="*{endereco}" required>
							</div>
							<div class="form-group col-md-4">
								<label>Situação:</label> <select class="form-control" th:field="*{situacao}"> 
<!-- 									<option th:each="situacao: ${listaSituacao}" th:value="${situacao}" th:text="${situacao.descricao}"></option> -->
										<option value="ATIVO">Ativo</option>
										<option value="INATIVO">Inativo</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<label for="idAditivo">Aditivo:</label> <input type="text" 
								class="form-control " placeholder="Número aditivo" id="idAditivo" th:field="*{numeroAditivo}" >
							</div>
							<div class="form-group col-md-2">
								<label for="idDataInicio">Início contrato :</label> <input type="text"
									class="form-control" placeholder="__/__/____" id="idDataInicio"  >
							</div>
							<div class="form-group col-md-2">
								<label for="idDataFinal">Data de término :</label> <input type="text"
									class="form-control " placeholder="__/__/____" id="idDataFinal" disabled>
							</div>
						</div>
					</div>
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Salvar</button>
					<a th:href="@{/clientes}"><button
							class="btn btn-outline-danger my-2 my-sm-0" type="button">Cancelar</button></a>
				</form>
			</div>
		</div>
	</div>
</section>
</html>