<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Unidade</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="main col-sm-9 col-md-10">
				<div th:include="MensagemGeral"></div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:object="${unidade}"
							th:href="@{/clientes/verCliente/{codigoCliente}(codigoCliente = ${unidade.cliente.codigo})}"
							th:text="${unidade.cliente.nome}"></a></li>
					</ol>
				</nav>

				<form method="POST"
					th:action="@{/unidades/salvar/{codigo}(codigo = ${unidade.cliente.codigo})}"
					th:object="${unidade}">
					<div class="form-group">
						<input th:field="*{codigo}" type="hidden" />
						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="idNome">Nome:</label> <input type="text"
									class="form-control" placeholder="Nome" th:field="*{nome}"
									id="idNome" required>
							</div>
							<div class="form-group col-md-6">
								<label for="idEndereco">Endereco:</label> <input type="text"
									class="form-control" placeholder="Endereço"
									th:field="*{endereco}" id="idEndereco" required>
							</div>
							<div class="form-group col-md-12">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value=""
										id="invalidCheck" required> <label
										class="form-check-label" for="invalidCheck"> Plano de internet incluso </label>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="idAtivacao">Código de atrivação:</label> <input
									type="text" class="form-control"
									placeholder="Código de atrivação" th:field="*{codigoAtivacao}"
									id="idCodigoAtivacao" required>
							</div>
							<div class="form-group col-md-3">
								<label for="idConexao">Conexão:</label> <input type="text"
									class="form-control" placeholder="PPPoE"
									th:field="*{conexao}" id="idConexao" required>
							</div>
							<div class="form-group col-md-3">
								<label for="idSenha">Senha:</label> <input type="text"
									class="form-control" placeholder="Senha"
									th:field="*{senha}" id="idSenha" required>
							</div>
							<div class="form-group col-md-3">
								<label for="idHost">Endereço IP:</label> <input type="text"
									class="form-control" placeholder="Endereço IP"
									th:field="*{host}" id="idHost" required>
							</div>
							
							<div class="form-group col-md-12">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value=""
										id="invalidCheck" required> <label
										class="form-check-label" for="invalidCheck"> Portabilidade </label>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="idLinha">Linha:</label> <input
									type="text" class="form-control"
									placeholder="Linha a ser portada" th:field="*{linha}"
									id="idLinha" required>
							</div>
							<div class="form-group col-md-3">
								<label for="idRamal">Ramal:</label> <input type="text"
									class="form-control" placeholder="Ramal de destino"
									th:field="*{ramal}" id="idRamal" required>
							</div>
						</div>
					</div>
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Salvar</button>
					<a
						th:href="@{/clientes/verCliente/{codigoCliente}(codigoCliente = ${unidade.cliente.codigo})}"><button
							class="btn btn-outline-danger my-2 my-sm-0" type="button">Cancelar</button></a>
				</form>
			</div>
		</div>
	</div>
</section>
</html>