<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pesquisa de Títlos</title>
</head>
<!-- 			conteudo -->
<section layout:fragment="conteudo">

	<div class="card">
		<h5 class="card-header">Cadastro lista de ramais</h5>
		<div class="card-body">
			<form method="POST" action="/admin/lista">
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="estado">Estado *</label> <select id="estado"
							class="form-control" name="estado">
							<option selected>SC</option>
							<option>PR</option>
							<option>RS</option>
						</select>
					</div>
					<div class="form-group col-md-3">
						<label for="cidade">Cidade *</label> <select id="cidade"
							class="form-control" name="cidade">
							<option selected>Xanxerê</option>
							<option>Catanduvas</option>
							<option>Tangará</option>
							<option>Ouro</option>
						</select>
					</div>
				</div>
				<div class="form-row">	
					<div class="form-group col-md-3">
						<label for="unidade">Unidade *</label> <select id="unidade"
							class="form-control" name="unidade" >
							<option selected>Prefeitura</option>
							<option>Educação</option>
							<option>Saúde</option>
							<option>Social</option>
						</select>
					</div>
					<div class="form-group col-md-3">
						<label for="setor">Setor *</label> <select id="setor"
							class="form-control">
							<option selected>Recepção</option>
							<option>Tributação</option>
							<option>RG</option>
							<option>Engenharia</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					
					<div class="form-group col-md-6">
						<label for="responsavel">Nome *</label> <input type="text"
							class="form-control" id="responsavel"
							placeholder="Nome do responsável pelo setor:" name="responsavel">
					</div>
				</div>
				<div class="form-row ">
					<div class="form-group col-md-3">
						<label for="ramal">Ramal *</label> <input type="number"
							class="form-control" id="ramal" placeholder="Número do ramal:" name="ramal">
					</div>
					<div class="form-group col-md-3">
						<label for="telefone">Telefone</label> <input type="number"
							class="form-control" id="telefone"
							placeholder="Número do telefone:" name="telefone">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</div>

</section>

<!-- 			/conteudo -->
</html>