<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Setor</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="main col-sm-9 col-md-10">
				<div th:include="MensagemGeral"></div>

				<form method="POST" th:action="@{/setorClientes/salvar/{codigo} (codigo = ${setorCliente.unidade.codigo})}"
					th:object="${setorCliente}">
					<div class="form-group">
						<input th:field="*{codigo}" type="hidden" />
						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="idNome">Nome:</label> <input type="text"
									class="form-control" placeholder="Nome" th:field="*{nome}"
									id="idNome" required>
							</div>
<!-- 							<div class="form-group col-md-6"> -->
<!-- 								<label>Unidade:</label>  -->
<!-- 								<select class="form-control" -->
<!-- 									th:field="*{unidade.codigo}" > -->
<!-- 									<option th:each="unidade : ${listaUnidades}" -->
<!-- 										th:text="${unidade.nome + ' / '  + unidade.cliente.nome} " -->
<!-- 										th:value="${unidade.codigo}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
							<div class="form-group col-md-6">
								<label for="idTelefone">Telefone:</label> <input type="text"
									class="form-control" placeholder="Telefone"
									 id="idTelefone">
							</div>
							<div class="form-group col-md-3">
								<label for="idRamal">Ramal:</label> <input type="text"
									class="form-control" placeholder="Ramal" th:field="*{ramal}"
									 id="idRamal">
							</div>
							<div class="form-group col-md-3">
								<label></label> <a><button
										class="form-control btn btn-outline-info my-2 my-sm-0"
										type="button">Ver lista de ramais em uso</button></a>
							</div>
						</div>
					</div>
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Salvar</button>
					<a th:href="@{/setorClientes}"><button
							class="btn btn-outline-danger my-2 my-sm-0" type="button">Cancelar</button></a>
				</form>
			</div>
		</div>
	</div>
</section>
</html>