<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pesquisa de Títlos</title>
</head>
<!-- 			conteudo -->
<section layout:fragment="conteudo">
	
		<div class="card">
			<h5 class="card-header">Cadastro</h5>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural
					lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	
</section>

<!-- 			/conteudo -->
</html>