<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Cidades</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="main col-sm-9 col-md-10">
				<div th:include="MensagemGeral"></div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/cidades}">Cidades</a></li>
						<li class="breadcrumb-item active" aria-current="page">Novo</li>
					</ol>
				</nav>

				<form method="POST" th:action="@{/cidades/salvar}">
					<div class="form-group">
						<input type="hidden" />
						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="idNome">Nome:</label> <input type="text"
									class="form-control" placeholder="Nome" name="nome" id="idNome">
							</div>
							<div class="form-group col-md-6">
								<label for="idCep">Cep:</label> <input type="text"
									class="form-control" placeholder="Cep" name="cep" id="idCep">
							</div>
							<div class="form-group col-md-6">
								<label for="idPopulacao">População:</label> <input type="text"
									class="form-control" placeholder="População" name="populacao"
									id="idPopulacao">
							</div>
							<div class="form-group col-md-6">
								<label>Estado:</label> <select class="form-control"
									name="uf.codigo">
									<option th:each="uf : ${listaUf}" th:text="${uf.nome}"
										th:value="${uf.codigo}"></option>
								</select>
							</div>
						</div>
					</div>
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Salvar</button>
					<a th:href="@{/estados}"><button
							class="btn btn-outline-danger my-2 my-sm-0" type="button">Cancelar</button></a>
				</form>
			</div>
		</div>
	</div>
</section>
</html>