<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Patrimônios</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="main col-sm-9 col-md-10">
				<div th:include="MensagemGeral"></div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/patrimonios}">Patrimonios</a></li>
						<li class="breadcrumb-item active" aria-current="page">Novo</li>
					</ol>
				</nav>

				<form method="POST" th:action="@{/patrimonios/salvar}"
					th:object="${patrimonio}">
					<div class="form-group">
						<input th:field="*{codigo}" type="hidden" />
						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="idNome">Nome:</label> <input type="text"
									class="form-control" placeholder="Nome" th:field="*{nome}"
									id="idNome" required>
							</div>
							<div class="form-group col-md-6">
								<label>Modelo:</label> <select class="form-control"
									th:field="*{modelo.codigo}">
									<option th:each="modelo : ${listaModelo}"
										th:text="${modelo.modelo}" th:value="${modelo.codigo}"></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="idPatrimonio">Número de patrimônio:</label> <input
									type="text" class="form-control" placeholder="Patrimônio"
									th:field="*{patrimonio}" id="idPatrimonio" 
									pattern="[0-9]+$">
							</div>
							<div class="form-group col-md-4">
								<label for="idMac">Mac:</label> <input type="text"
									class="form-control" placeholder="MAC do equipamento" autofocus="true"
									th:field="*{mac}" id="idMAc">
							</div>
							<div class="form-group col-md-4">
								<label for="idNs">Número de série:</label> <input type="text"
									class="form-control" placeholder="NS"
									th:field="*{ns}" id="idNs">
							</div>
							<div class="form-group col-md-6">
								<label for="idDescricao">Descricao:</label> <input type="text"
									class="form-control" placeholder="Descricao"
									th:field="*{descricao}" id="idDescricao">
							</div>
							<div class="form-group col-md-4">
								<label>Setor:</label> <select class="form-control"
									th:field="*{setor.codigo}">
									<option th:each="setor: ${listaSetor}"
										th:value="${setor.codigo}" th:text="${setor.nome}"></option>
								</select>
							</div>
						</div>
					</div>
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Salvar</button>
					<a th:href="@{/patrimonios}"><button
							class="btn btn-outline-danger my-2 my-sm-0" type="button">Cancelar</button></a>
				</form>
			</div>
		</div>
	</div>
</section>
</html>