<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Estados</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="main col-sm-9 col-md-10">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/estados}">Estados</a></li>
						<li class="breadcrumb-item active" aria-current="page">Novo</li>
					</ol>
				</nav>
				
				<form method="POST"  th:action="@{/estados/salvar}" th:object="${uf}">
				<div class="form-group">
					<div class="form-row">
						<div class="col">
							<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}">
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder="Sigla" th:field="*{sigla}">
						</div>
					</div>
				</div>	
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Salvar</button>
				</form>
			</div>
		</div>
	</div>
</section>
</html>