<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Inova</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container-fluid">
		<!-- 	não utilizar o layout:include, trocar por th:include -->
		<header th:include="Cabecalho"></header>

		<div class="row">
			<div class="sidebar col-sm-2">
				<div th:include="Sidebar"></div>
			</div>
			<div class="col-sm-10 conteudo">
				<section layout:fragment="conteudo"></section>
			</div>

		</div>
	</div>
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	 <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script th:src="@{/js/efects.js}"></script>
	
</body>
</html>