<!DOCTYPE html>
<html layout:decorator="LayoutPadrao"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pesquisa de Unidades</title>
</head>
<!-- 			conteudo -->
<section layout:fragment="conteudo">
	<div th:include="MensagemGeral"></div>

	<nav class="navbar navbar-light bg-light justify-content-between">
		<form class="form-inline">
			<input autofocus="autofocus" class="form-control mr-sm-2"
				type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<a th:href="@{/unidades/novo}">
			<button class="btn btn-outline-primary my-2 my-sm-0">Novo</button>
		</a>
	</nav>
	<div class="card">
		<h5 class="card-header">Unidades</h5>
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Cliente</th>
						<th scope="col" class="text-center">Opção</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="unidade: ${unidades}">
						<td scope="row" th:text="${unidade.codigo}"></td>
						<td th:text="${unidade.nome}"></td>
						<td th:text="${unidade.cliente.nome}"></td>
						<td class="text-center"><a href="#"
							class="badge badge-primary"
							th:href="@{/unidades/{codigo}(codigo=${unidade.codigo})}">Editar</a>
							<a href="#" class="badge badge-danger"
							data-target="#confirmacaoExclusaoModal" data-toggle="modal"
							th:attr="data-codigo=${unidade.codigo}, data-descricao=${unidade.nome}, data-passaurl=${'unidades/'}">Excluir</a></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(unidades)}">Nenhuma unidade foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:include="DialogConfirmaExclusao"></div>
	</div>

</section>

<!-- 			/conteudo -->
</html>