<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 	sidebar -->
	<ul class="nav flex-column">
		<li class="nav-item"><a class="nav-link active" th:href="@{/dashboard}">Visão geral</a>
		</li>
		<li class="nav-item"><a class="nav-link text-secondary" th:href="@{/clientes}">Clientes</a></li>
		<li class="nav-item"><a class="nav-link text-secondary" th:href="@{/estoque}">Estoque</a></li>
		<li class="nav-item"><a class="nav-link text-secondary" th:href="@{/financeiro}">Financeiro</a></li>
		<li class="nav-item"><a class="nav-link text-secondary" th:href="@{/cadastro}">Cadastro</a></li>
		<li class="nav-item"><a class="nav-link text-secondary" th:href="@{/estados}">Estados</a></li>
	</ul>

<!-- 		/sidebar -->
</html>