<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 	sidebar -->
	<ul class="nav flex-column">
		<li class="nav-item"><a class="nav-link active" href="#">Dashboard</a>
		</li>
		<li class="nav-item"><a class="nav-link text-secondary" href="#">Link</a></li>
		<li class="nav-item"><a class="nav-link text-secondary" href="#">Link</a></li>
		<li class="nav-item"><a class="nav-link text-secondary disabled"
			href="#">Disabled</a></li>
	</ul>

<!-- 		/sidebar -->
</html>